[req]
prompt = no
distinguished_name = dn

[dn]

[v3_ca]
basicConstraints = critical,CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always

[v3_leaf]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
